<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel gmd">
            <div class="panel-heading"><label class="control-label" gumga-translate-tag="categoria.title"></label>
            </div>
            <div class="panel-body">
                <form name="CategoriaForm" gumga-form novalidate>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
		
            <gmd-input>
                <input
                        class="form-control gmd"
                        type="text"
                        name="nome"
                        gumga-error
                        ng-model="categoria.data.nome"
                />
                <span class="bar"></span>
                <label
                        class="control-label"
                        gumga-translate-tag="categoria.nome">nome</label>
            </gmd-input>
        </div>
    </div>
</div>
                    <gumga-errors label="Lista de erros" title="Lista de erros"></gumga-errors>
                    <gumga-form-buttons
                            class="gmd raised"
                            back="categoria.list"
                            submit="categoria.methods.put(categoria.data)"
                            position="right"
                            valid="CategoriaForm.$valid"
                            confirm-dirty="true"
                            continue="continue">
                    </gumga-form-buttons>
                </form>
            </div>
        </div>
    </div>
</div>