<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel gmd">
            <div class="panel-heading"><label class="control-label" gumga-translate-tag="cliente"></label>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-5">
                        <a ui-sref="cliente.insert" class="btn gmd raised btn-primary">
                            <i class="glyphicon glyphicon-plus"></i>Novo
                        </a>

                        <button type="button" class="btn gmd raised btn-danger"
                                ng-click="cliente.methods.delete(selectedValues)"
                                gumga-confirm="Deseja remover?">
                            <i class="glyphicon glyphicon-trash"></i>Remover
                        </button>
                    </div>

                    <div class="col-sm-7">
                        <gumga-query search="cliente.methods.search(field,param)"
                                     advanced-search="cliente.methods.advancedSearch(param)"
                                     saved-filters="cliente.methods.getQuery(page)">
                            <search-field label="nome"
                                          field="nome"></search-field>
                            <search-field label="cidade"
                                          field="cidade"></search-field>
                            <search-field label="grupoClientes"
                                          field="grupoclientes"></search-field>
                            <advanced-search-field type="string" label="nome"
                                                   field="nome"></advanced-search-field>
                            <advanced-search-field type="string" label="cidade"
                                                   field="cidade"></advanced-search-field>
                            <advanced-search-field type="string" label="grupoClientes"
                                                   field="grupoclientes"></advanced-search-field>
                        </gumga-query>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <gumga-query-action
                                entity="cliente"
                                selected="selectedValues"
                                query="query"
                                beyond="beyond"
                                actions="actions"
                                on-action="action(queryaction)">
                        </gumga-query-action>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-12">
                        <gumga-list class="table-striped table-condensed"
                                    sort="cliente.methods.sort(field, dir)"
                                    data="cliente.data"
                                    configuration="tableConfig"
                                    page-size="cliente.pageSize"
                                    page-position="bottom"
                                    page-align="flex-end"
                                    count="cliente.count"
                                    page-model="page"
                                    on-page-change="cliente.methods.get(page, pageSize)">
                        </gumga-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>