<div class="col-md-8 col-md-offset-2" ng-init="entity = {}">
    <div class="panel gmd">
      <div class="panel-heading">
        Próximos passos
      </div>
      <div class="panel-body">
        <img src="resources/images/gumga.png" alt=" Logo da Gumga" class="img-rounded" style="display:block;margin: 0 auto;"/>
        <div class="row">
          <div class="col-md-12">
            <h5>Layout</h5> <br>
            <p>
              Veja como usar os componentes <b>Bootstrap</b> com visual do <b>Material Design</b>, acesse: <a class="cl-primary" href="https://gumga.github.io/layout/" target="_blank">https://gumga.github.io/layout/</a>
            </p>
          </div>
          <div class="col-md-12"> <br> <br>
            <h6>Componentes</h6><br>
            <p>
              Quer saber como usar os componentes que a Gumga oferece, acesse:  <a class="cl-primary" href="https://gumga.github.io/#/app/component" target="_blank">https://gumga.github.io/#/app/component</a>.
            </p>
          </div>
          <div class="col-md-12"> <br> <br>
            <h6>Framework</h6><br>
            <p>
              Gere novas entidades, repositórios, services, e endpoints, acesse:  <a class="cl-primary" href="https://gumga.github.io/#/app/framework/" target="_blank">https://gumga.github.io/#/app/framework/</a>.
            </p>
          </div>
        </div>

        <!-- <h1 style="text-align: center;">Bem vindo!</h1>

        <h2  style="text-align: center;">Gumga S/A - Framework</h2> -->
      </div>
    </div>
</div>
